<tr>
  <th align="left" class="nota_title">Con Ganas de Vivir A.C.</th>
  <th align="right"><%= t('note.fecha') %>: </th>
  <td align="left"><%= l @note.fecha, :format => :long %></td>
  <th align="right" class="nota_title"><%= t('note.folio') %></th>
  <td align="left" class="nota_title"><u><strong><%= @note.folio %></strong></u></td>
</tr>