<table class="nota" border="0" width="90%">
<%= render 'noteheaderprint' %>
</table>
<table border="0" width="100%">
  <tr>
    <td align="left" class="nota_datos">
    Con Ganas de Vivir A.C. RFC: GVI-020604-P61,
   Dr. Carmona y Valle #20, Col. Doctores, México D.F.,
    CP. 06720 Tels. 9116-9728, 9116-9726 y 5588-2749
    </td>
  </tr>
</table>
<table class="nota" border="1" width="100%" frame="box" rules="all">
<%= render 'notebodyprint' %>
</table>
<table class="nota" border="1" width="100%" frame="box" rules="all">
<%= render 'notetotalsprint' %>
</table>
<table class="nota nota_leyenda" border="0" width="100%">
  <tr>
    <td align="left">
    Recibí(mos) los apoyos descritos anteriormente por parte de Con Ganas de Vivir A.C., aceptando
    lo establecido en el reglamento de la Asociación, y reconociendo el monto por concepto de cuota
    de recuperación que aparece en la casilla de total de este documento.
    </td>
  </tr>
</table>
<hr />