<table class="nota nota-header" border="0" width="90%">
<%= render 'noteheaderprint' %>
</table>
<table class="noteprint-orgline" border="0" width="100%">
  <tr>
    <td align="left" class="nota_datos">
    Con Ganas de Vivir A.C. RFC: GVI-020604-P61, Av. Universidad 474 Col. Vertiz Narvarte, 
    Benito Juárez México D.F., C.P. 03600 Tels. 5543-1022 y 5543-3192.
    </td>
  </tr>
</table>
<table class="nota nota-body" border="1" width="100%" frame="box" rules="all">
<%= render 'notebodyprint' %>
</table>
<table class="nota nota-totals" border="1" width="100%" frame="box" rules="all">
<%= render 'notetotalsprint' %>
</table>
<table class="nota nota_leyenda nota-legal" border="0" width="100%">
  <tr>
    <td align="left">
    Recibí(mos) los apoyos descritos anteriormente por parte de Con Ganas de Vivir A.C., aceptando
    lo establecido en el reglamento de la Asociación, y reconociendo el monto por concepto de cuota
    de recuperación que aparece en la casilla de total de este documento.
    </td>
  </tr>
</table>
