<h1><%= t('helpers.submit.create', :model => Note.to_s) %></h1>
<%= nested_form_for(@note) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.create') %>
  </div>
<% end %>
