.sass-cache/
.bundle
db/*.sqlite3*
log/*.log
*.log
*logfile*
/tmp/
doc/
*.swp
*~
.project
.DS_Store
*.csv
*.jpg
*.png
*.gif
imagenes_expedientes/
attachments/

# Ignore application configuration
/config/application.yml

# Ignore thin configuration
/config/thin.yml

/config/Letsencrypt-IMPORTANT-NOTES.txt