<table class="comments" align=center>
  <tr>
    <th><%= t('patient.comments') %></th>
	<td colspan=2 nowrap><%= link_to t('helpers.submit.create', :model => "Comentarios"), new_patient_comment_path(@patient) %></td>
  </tr>
  <% unless @patient.comments.empty? %>
  <%= render @comments %>
  <% end %>
</table>