<%= render 'shared/error_messages', :object => f.object %>
<div class="row g-3">
  <div class="col-12">
    <%= f.label :comment, t('patient.comment'), class: "form-label" %>
    <%= f.text_area :comment, :cols => 70, :rows => 5, class: "form-control" %>
  </div>
</div>
