<h1><%= t('helpers.submit.create', :model => "Reporte de Actividades") %></h1>
<%= nested_form_for(@activity_report) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.create') %>
  </div>
<% end %>