<table class="house">
  <tr><th colspan=2><%= t('house.title') %></strong></th></tr>
  <tr>
	<td colspan=2>
	  <% if @house == nil %>
	  <%= link_to t('helpers.submit.create', :model => "Informacion de Vivienda"), new_patient_house_path(@patient) %>
	  <% else %>
	  <%= link_to t('helpers.edit'), edit_patient_house_path(@patient, @house) %>
	  <% end %>
	</td>
  </tr>
  <% if @house != nil %>
  <%= render @house %>
  <% end %>
</table>