<%= render 'shared/error_messages', :object => f.object %>
<%
  subprogram_pairs = [
    [[:sobreviviente, t('volunteer.sobreviviente')], [:licencia, t('volunteer.licencia')]],
    [[:donador, t('subprogram.donador')], [:eventos, t('subprogram.eventos')]],
    [[:hospitales, t('subprogram.hospitales')], [:suenosdeseos, t('subprogram.suenosdeseos')]],
    [[:fondos, t('subprogram.fondos')], [:administrativas, t('subprogram.administrativas')]],
    [[:autoayuda, t('subprogram.autoayuda')], [:sobrevivientes, t('subprogram.sobrevivientes')]],
    [[:fugarte, t('subprogram.fugarte')], [:licencia, t('volunteer.licencia')]],
    [[:disenografico, t('subprogram.disenografico')], [:abogacia, t('subprogram.abogacia')]],
    [[:invdocumental, t('subprogram.invdocumental')], [:invmedica, t('subprogram.invmedica')]],
    [[:disenoweb, t('subprogram.disenoweb')], [:apoyocap, t('subprogram.apoyocap')]],
    [[:apoyofueraoficina, t('subprogram.apoyofueraoficina')], nil]
  ]
%>

<div class="row g-2 role-checklist">
  <% subprogram_pairs.each do |left, right| %>
    <% [left, right].compact.each do |field_name, label_text| %>
      <div class="col-12 col-md-6">
        <div class="form-check">
          <%= f.check_box field_name, class: "form-check-input" %>
          <%= f.label field_name, label_text, class: "form-check-label" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
