<table align=center>
  <tr>
    <th><%= t('derechohabiente.title') %></th>
	<td colspan=2>
	  <%= link_to t('helpers.submit.create', :model => "Derechohabiente"), new_patient_derechohabiente_path(@patient) %>
	</td>
  </tr>
  <% unless @patient.derechohabientes.empty? %>
  <%= render @seguros %>
  <% end %>
</table>