<table class="diagnosticos">
  <tr>
    <td>
      <strong><%= t('patient.diagnosticos') %></strong>
	</td>
	<td colspan="2" nowrap="nowrap">
      <%= link_to t('helpers.submit.create', :model => "Diagnostico"), new_patient_diagnostico_path(@patient) %>
	</td>
  </tr>
  <% unless @patient.diagnosticos.empty? %>
  <%= render @diagnosticos %>
  <% end %>
</table>