<table class="diagnosticos" align=center>
  <tr>
    <th ><%= t('patient.diagnosticos') %></th>
	<td colspan=2><%= link_to t('helpers.submit.create', :model => "Diagnostico"), new_patient_diagnostico_path(@patient) %></td>
  </tr>
  <% unless @patient.diagnosticos.empty? %>
    <%= render @diagnosticos %>
  <% end %>
</table>