<table class="patientphones">
  <tr><td><strong><%= t('patient.tels') %></strong></td>
	<td><%= link_to t('helpers.submit.create', :model => "Telefono"), new_patient_patientphone_path(@patient) %></td></tr>
  <% unless @patient.patientphones.empty? %>
  <%= render @patientphones %>
  <% end %>
</table>