<h1><%= t('helpers.submit.create', :model => User.to_s) %></h1>

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
