<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong><%= t('user.name') %>:</strong> <%= @user.name %><br />
      <strong>e-mail:</strong>  <%= @user.email %>
    </td>
  </tr>
</table>
