<h1><%= t('home.title') %></h1>
<% if signed_in? %>
  <p>
    6 de Agosto de 2011: Ahora los elementos son dinamicos en las Notas.<br />
  	7 de Agosto de 2011: Ahora se pueden añadir Emails para los pacientes.<br />
  	7 de Agosto de 2011: Se añadieron "Contactos".
  </p>	
<% else %>
  <p>
    <%= t('home.paragraph') %>
  </p>

  <%= link_to t('session.login'), signup_path, :class => "signup_button round" %>
<% end %>