<h1><%= t('home.title') %></h1>
<% if signed_in? %>
<% else %>
  <p>
    <%= t('home.paragraph') %>
  </p>

  <%= link_to t('session.login'), signup_path, :class => "signup_button round" %>
<% end %>