<h1><%= t('home.title') %></h1>
<%- if signed_in? %>
  <!--...<p>
    <u>6 de mayo del 2013:</u> <strong></strong>=P<br />
  </p>-->	
<% else %>
  <p>
    <%= t('home.paragraph') %>
  </p>

  <%= link_to t('session.login'), new_user_session_path, :class => "signup_button round" %>
<% end %>