<h1><%= t('home.title') %></h1>
<% if signed_in? %>
  <p>
    <u>6 de Marzo de 2012:</u> <strong>Archivos Adjuntos</strong> para Paciente y Notas. Ahora se pueden subir imágenes (archivos jpg, jpeg, gif y png) para respaldar recetas, identificaciones y otros documentos.<br />
  </p>	
<% else %>
  <p>
    <%= t('home.paragraph') %>
  </p>

  <%= link_to t('session.login'), new_user_session_path, :class => "signup_button round" %>
<% end %>