<h1><%= t('home.title') %></h1>
<% if signed_in? %>
  <p>
    <u>6 de Agosto de 2011:</u> Ahora los elementos son dinamicos en las Notas.<br />
  	<u>7 de Agosto de 2011:</u> Ahora se pueden añadir Emails para los pacientes.<br />
  	<u>8 de Agosto de 2011:</u> Se añadieron "Contactos".<br />
  	<u>10 de Agosto de 2011:</u> En las notas ahora aparecen los 6 campos por defecto. Si hay campos que no se van a utilizar, entonces se debe de seleccionar la opción de <strong>¿Eliminar?</strong> para que esos elementos no se almacenen o generen errores.<br />
  	<u>11 de Agosto de 2011:</u> Ahora se pueden buscar notas desde el modulo de pacientes o por el nombre de paciente o clave.<br />
  	<u>18 de Agosto de 2011:</u> Se añadieron expedientes para Voluntarios/Prestadores Servicio Social.<br />
  	<u>22 de Agosto de 2011:</u> Se añadieron reportes de tiempo para Voluntarios.<br />
  	<u>8 de Septiembre de 2011:</u> Se añadio defuncion a pacientes.<br />
  	<u>12 de Septiembre de 2011:</u> Se añadio modelo de Donadores.<br />
  	<u>13 de Septiembre de 2011:</u> Direcciones Internacionales.<br />
  </p>	
<% else %>
  <p>
    <%= t('home.paragraph') %>
  </p>

  <%= link_to t('session.login'), new_user_session_path, :class => "signup_button round" %>
<% end %>