<%- unless signed_in? %>
  <div class="jumbotron">
    <h1 class="display-4"><%= t('home.CGDV') %></h1>
    <p class="lead"><%= t('home.paragraph') %></p>
    <div class="col text-center">
    <%= link_to t('session.login'), new_user_session_path, :class => "btn btn-primary btn-lg mx-auto" %>
  </div>
  </div>
<% end %>
