<li>
  <%= link_to patient.name, patient %>
  | <%= link_to "delete", patient, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{patient.name}" %>
</li>

