<li>
  <%= link_to "#{patient.cgdvcode}: #{patient.name}", patient %> |  <%= l patient.created_at, :format => :small %>
  <% if can? :destroy, @patient %>
  | <%= link_to t('helpers.delete.msg'), patient, :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{patient.name}" %>
  <% end %>
  | <%= link_to t('helpers.print'), print_patient_path(patient) %>
</li>

