<table class="table app-table mb-3 apoyos" align=center>
  <tr>
    <th class="table-light"><%= t('patient.apoyos') %></th>
	<td class="table-light"><%= link_to t('helpers.submit.create', :model => "Apoyo"), new_patient_apoyo_path(@patient), class: "btn btn-outline-primary btn-sm" %></td>
  </tr>
  <% unless @patient.apoyos.empty? %>
  <%= render @apoyos %>
  <% end %>
</table>
