<tr>
  <td><%= apoyo.tipo %></td>
  <td class="text-end">
    <div class="d-inline-flex gap-1 flex-wrap justify-content-end">
      <%= link_to t('helpers.edit'), edit_patient_apoyo_path(@patient, apoyo), class: "btn btn-outline-primary btn-sm" %>
      <%= link_to t('helpers.delete.msg'), patient_apoyo_path(@patient, apoyo), :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{apoyo.tipo}", class: "btn btn-outline-danger btn-sm" %>
    </div>
  </td>
</tr>
