<table class="apoyos" align=center>
  <tr>
    <th><%= t('patient.apoyos') %></th>
	<td><%= link_to t('helpers.submit.create', :model => "Apoyo"), new_patient_apoyo_path(@patient) %></td>
  </tr>
  <% unless @patient.apoyos.empty? %>
  <%= render @apoyos %>
  <% end %>
</table>