<table class="addresses">
  <tr><th colspan=4><%= t('address.title') %></th></tr>
  <tr>
	<td colspan=4><strong>
	  <%= link_to t('helpers.submit.create', :model => "Direccion"), new_patient_address_path(@patient) %>
	</strong></td>
  </tr>
  <% unless @patient.addresses.empty? %>
  <%= render @addresses %>
  <tr><td colspan=4><strong><%= link_to t('helpers.submit.create', :model => "Direccion"), new_patient_address_path(@patient) %></strong></td><tr>
  <% end %>
</table>
