<h1><%= t('helpers.submit.create', :model => "Direccion") %></h1>
<%= form_for([@patient, @address]) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.create') %>
  </div>
<% end %>
