<table class="telephones" align=center>
  <tr>
  	<th><%= t('patient.tels') %></th>
  	<td><strong><%= link_to t('helpers.submit.create', :model => "Telefono"), new_patient_telephone_path(@patient) %></strong></td>
  </tr>
  <% unless @patient.telephones.empty? %>
  <%= render @telephones %>
  <tr><td colspan=3><strong><%= link_to t('helpers.submit.create', :model => "Telefono"), new_patient_telephone_path(@patient) %></strong></td></tr>
  <% end %>
</table>
