<div class="subrecord-form-wrap">
  <div class="card border-0 shadow-sm subrecord-form-card">
    <div class="card-body p-4">
      <h1 class="h4 mb-4"><%= t('helpers.submit.update', :model => "Informacion Socioeconomica") %></h1>
      <%= form_for([@patient, @socioeco], html: { class: "subrecord-form" }) do |f| %>
        <%= render 'fields', :f => f %>
        <div class="d-flex justify-content-end mt-4">
          <%= f.submit t('helpers.edit'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
