<table class="tratamientos" align=center>
  <tr>
    <th><%= t('patient.tratamientos') %></th>
	<td colspan=2><%= link_to t('helpers.submit.create', :model => "Tratamiento"), new_patient_tratamiento_path(@patient) %></td>
  </tr>
  <% unless @patient.tratamientos.empty? %>
    <%= render @tratamientos %>
  <% end %>
</table>