<tr>
  <td><%= tratamiento.tipo %></td>
  <td><%= link_to t('helpers.edit'), edit_patient_tratamiento_path(@patient, tratamiento), class: "btn btn-outline-primary btn-sm" %></td>
  <td>
  	<%= link_to t('helpers.delete.msg'), patient_tratamiento_path(@patient,tratamiento), :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{tratamiento.tipo}", class: "btn btn-outline-danger btn-sm" %>
  </td>
</tr>
