<h1><%= t('helpers.submit.create', :model => "Tratamiento") %></h1>
<%= form_for([@patient, @tratamiento]) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.create') %>
  </div>
<% end %>
