<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido una liga para cambiar su contraseña, y usted puede hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi Contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no solicitó esto, por favor ignore este correo electrónico.</p>
<p>Tu contraseña no va a cambiar hasta que accedas al enlace anterior y crees una nueva.</p>
