<table class="emails">
  <tr>
  	<th>Emails</th>
  	<td><strong><%= link_to t('helpers.submit.create', :model => "Emails"), new_polymorphic_path([model,Email]) %></strong></td>
  </tr>
  <% unless model.emails.empty? %>
  <%= render @emails, :model => model %>
  <tr><td colspan=3><strong><%= link_to t('helpers.submit.create', :model => "Emails"), new_polymorphic_path([model,Email]) %></strong></td></tr>
  <% end %>
</table>
