<h1><%= t('helpers.submit.update', :model => "Reporte de Tiempo") %></h1>
<%= nested_form_for(@voltime) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.edit') %>
  </div>
<% end %>
