<footer>
  <nav class="round">
    <ul>
      <li><a href="http://http://www.conganas.org.mx/">CGDV</a></li>
      <li><a href="http://http://www.rodandoporlavida.org/">Rodando</a></li>
    </ul>
  </nav>
</footer>
