<footer>
  <nav class="round">
    <ul>
      <li><a href="http://http://www.conganas.org.mx/">CGDV Site</a></li>
      <li><a href="http://http://www.rodandoporlavida.org/">Rodando Site</a></li>
    </ul>
  </nav>
</footer>
